$praimery-font-white:#ffffff;
$scondary-font-white:#d9d9d9;
$primary-btn-color:#ff4d4f;
$primary-btn-color-transparent:#ff4d505e;
$color-bk:#141414;
$bg-icons:#171717a8;
$card-bg-color:#1c1c1c;
$bg-icons-2:#272727;
$header--bk:#141414ad;