

.btn2{
     color:$praimery-font-white;
     background-color: $primary-btn-color;
     cursor: pointer;
}

header{
    background-image:url("../../../Public/images/assets/img/profile/profile-bg-5.webp");
    height: 100vh;
    background-position: center;
    color: $praimery-font-white;
    background-size: cover;
}