* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $header--bk;

    .hme,
    li:hover {
        color: $primary-btn-color;
        transition: 0.2s;
        cursor: pointer;
    }



}

.btn2 {
    color: $praimery-font-white;
    background-color: $primary-btn-color;
    cursor: pointer;
    width: fit-content;
}

.img-main {
    background-image: url("../../../Public/images/assets/img/profile/profile-bg-5.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

    span {
        color: $primary-btn-color;
    }

    .icons div {
        background-color: $bg-icons;
        box-sizing: border-box;
        transition: 0.3s;

        i {
            color: white;
            font-size: 20px;
        }
    }

    .icons div:hover {
        background-color: $primary-btn-color;
        transform: translateY(-10px);
    }
}

.img-main::before {
    content: "";
    background-color: $color-bk;
    position: absolute;
    right: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.grandeparnet,
.Resume,
.Services {
    background-color: $color-bk;

    .child-1 {
        color: $primary-btn-color;

        p span {
            border: 2px solid $primary-btn-color;
            width: 40px;
        }

        .text-justify-custom {
            text-align: justify;
            width: 57%;
        }
    }
}

.clbtn {
    background-color: $primary-btn-color;
    transition: 0.5s;

    &:hover {
        transform: translateY(-5px);
    }

}

.clbtn2 {
    background-color: $primary-btn-color-transparent;
    color: $primary-btn-color;

}

.card,
.card1 {
    background-color: $card-bg-color;
    height: fit-content;

    .card-text {
        font-size: 12px;
        color: $primary-btn-color;
    }

    img {
        box-sizing: border-box;
    }
}

.icons2 div {
    background-color: #272727;
    transition: 0.5s;

    &:hover {
        background-color: $primary-btn-color;
        transform: translateY(-10px);
    }
}

.text-uppercase {
    width: fit-content;
}

.conatiner-text {
    line-height: 2;
}

.child-card1 {
    background-color: $card-bg-color;
    width: calc((100%/2) - 2vw);
    column-gap: 10px;
    border: solid 1px transparent;

    &:hover {
        border: solid 1px $primary-btn-color;
    }

    i {
        color: $primary-btn-color;
    }
}

.progress {
    background-color: $card-bg-color;
    height: 10px;
}

.Resume,
.Services {
    span {
        border-top: 1px solid $primary-btn-color ;
        width: 40px;
    }

    .text---center {
        width: 58%;
        text-align: center;
    }
}

.card1 {
    width: calc((100%/4) - 20px);
    border: 2px solid transparent;
    transition: 1s;
    position: relative;

    .headicon {
        font-size: 40px;
        transition: 1s;
    }

    .sentence {

        i {
            transition: 1s;
        }
    }




    &:hover {
        border: 2px solid $primary-btn-color;
        transform: translateY(-10px);

        .headicon {
            transform: rotate(20deg);
            color: $praimery-font-white;
            background-color: $primary-btn-color;
        }

        .sentence {
            color: $primary-btn-color;

            i {
                transform: translateX(10px);
            }
        }

    }

}

.ticked {
    position: absolute;
    top: 15px;
    right: -30px;
    background: $primary-btn-color;
    padding: 5px 35px;
    font-size: 11px;
    letter-spacing: 1px;
    transform: rotate(45deg);
}

.spichel {
    box-shadow: 0 10px 30px rgba(54, 144, 231, 0.15);
}